.repoDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.repoDetails {
  border: solid 0.5px;
  border-radius: 0.4em;
  background-color: #fff;
  padding: 20px;
}

.avatar {
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
}

.info {
  margin: 20px 0;
  width: 400px;
}

.repoLink {
  color: black;
  margin-inline-start: 5px;
  font-weight: 500;
}

.nameAndAvatar {
  display: flex;
  align-items: center;
  width: 450px;
}

.name {
  margin-left: 40px;
  font-weight: 600;
  font-size: 20px;
}
