.wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.time {
  display: flex;
  font-size: 0.8em;
}

.gitHubRedirect,
.gitHubRedirect:active {
  text-decoration: none;
  border-radius: 0.2em;
  background-color: #282c34;
  color: #fff;
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
