.userDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.userDetails {
  border: solid 0.5px;
  border-radius: 0.4em;
  background-color: #fff;
  padding: 20px 20px 0;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.avatar {
  margin-bottom: 20px;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.ìnfoWrapper {
  flex: 2;
}

.name {
  margin-left: 40px;
  font-weight: 600;
  font-size: 20px;
}
