.reposList {
  display: flex;
  flex-direction: column;
  border: #282c34 1px solid;
  border-radius: 0.2em;
}

.repoLine {
  text-decoration: none;
  cursor: pointer;
  height: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  color: #282c34;
  background-color: white;
  border-bottom: #282c34 1px solid;
}
.repoLine:last-child {
  border-bottom: transparent;
}

.repoLine:active,
.repoLine:visited {
  background-color: #ebf1ff;
}

.repoLine:hover {
  background-color: #282c34;
  color: white;
}

.noMatch {
  display: flex;
  justify-content: center;
}
