.loginContainer {
  flex-direction: column;
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.loginText {
  padding-bottom: 10px;
}

.backButton {
  margin: 20px 40px;
  background-color: #282c34;
  width: 80px;
  height: 30px;
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backLink,
.backLink:hover,
.backLink:active {
  text-decoration: none;
  color: #fff;
  text-align: center;
}
